.main-container-profile{
    display:grid;
    grid-template-rows: 15% 85% ;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}


.header-trans-profile {
    display:grid;
    grid-template-rows: 50% 50%;
    padding:1rem;
    
}

.translation-card-2 {
    background-color: white;
}

.profile-card{
    background-color: red;
}

.padding {
    visibility: hidden;

}
.log-out{
    cursor: pointer;
}