

.main-container {
    display:grid;
    grid-template-rows: 20% 50% 30%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
    background-color: #C6FCE5;
}


.main-logo{
   margin-top:6rem;
   
}

.trans-logo {
    margin-top:12rem;
    
}

.enter-name {
    color:#0DCEDA;
    text-align: center;
    font-size: larger;
    font-family: 'Bangers', cursive;
    background-color: #EBFFFA;
    border-style: solid;
    border-width: 4px;
    border-color: #0DCEDA;
    width: 15%;
    height: 17%;
    margin-top: 4rem;
    border-radius: 10px;
    box-shadow: 1px 3px 0;
}

.enter-name:focus{
    outline:none;
}

.enter-name:hover::placeholder {
    color: #EBFFFA;
  }

.enter-name::placeholder {
    color: #0DCEDA;
  }


.enter-name:hover {
    background-color: #0DCEDA;
    color:#EBFFFA;
}

.trans-logo:hover{
    transform: rotate(360deg);
}




