.tcard-main-container {
    background: #C6FCE5;
    width: 70%;
    height: 70%;
    margin:auto auto;
    margin-top:5rem;
    border-radius: 15px;
    box-shadow: 0px 10px 8px #888888;
    display:grid;
    grid-template-rows: 20% 80%;
}

.tcard-header {
    font-family: 'Bangers', cursive;
    color:white;
    background-color:#0DCEDA;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: xx-large;
}


.enter-translation {
    color:#0DCEDA;
    text-align: center;
    font-size: larger;
    font-family: 'Bangers', cursive;
    background-color: #EBFFFA;
    border-style: solid;
    border-width: 4px;
    border-color: #0DCEDA;
    width: 20%;
    height: 30%;
    margin-top: 4rem;
    margin:auto;
    border-radius: 10px;
    box-shadow: 1px 3px 0;
    grid-column: 1/ span 2;
}


.enter-translation:focus{
    outline:none;
}

.enter-translation::placeholder {
    color: #0DCEDA;
  }


.tcard-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.translation {

   

}
