

.main-container-trans {
    display:grid;
    grid-template-rows: 30% 70%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}

.header-trans {
    display:grid;
    grid-template-rows: 50% 50% ;
    padding:1rem;
    background-color: #C6FCE5;
}

.trans-logo-2 {
    grid-row:1;
    padding:1rem;
    cursor:pointer;
}


.avatar {
    grid-row:1;
    justify-self: end;
    cursor: default;
}

.name {
    font-family: 'Bangers', cursive;
    color:white;
    grid-row:1;
    padding:1rem;
    height:1rem;
    background-color: #0DCEDA;
    
    border-radius: 10px;
    margin-top:1rem;
    right:4.6rem;
    width:8rem;
    position: absolute;
    font-size: larger;
    
}

.name-prof {
    font-family: 'Bangers', cursive;
    color:white;
    grid-row:1;
    padding:1rem;
    height:1rem;
    background-color: #0DCEDA;

    border-radius: 10px;
    margin-top:1rem;
    right:5.8rem;
    width:8rem;
    position: absolute;
    font-size: larger;
    cursor: default;

}
.avatar-name {
    display:flex;
    grid-row:1;
    justify-self: end;
    cursor:default;
}

.avatar-name-trans {
    display:flex;
    grid-row:1;
    justify-self: end;
    cursor: pointer;
}

.translation-card{
    background-color: #EBFFFA;
    /* width:50%; */
}
.logout{
    /* heigt:10 px;
    with: 10 px; */
    display:flex;
    grid-row:3;
    grid-column: 2;
    justify-self: end;

}

